.container {
    border: 2px solid #6B7280;
    width: 485px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    border-radius: 13px;
    background-color: #ECFDF5;
}

.value {
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}

.deleteBtn {
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(233, 202, 202);
    border: 2px solid red;
    font-size: 18px;
    cursor: pointer;
    margin-right: 5px;
}

.editBtn {
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(202, 233, 205);
    border: 2px solid rgb(0, 255, 64);
    font-size: 18px;
    cursor: pointer;
    margin-right: 5px;
}

.search {
    width: 300px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid gray;
    outline: none;
}

.search[type="text"] {
    font-size: 17px;
}

.search:focus {
    border: 2px solid #1F2937;
}